html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #c3c3c3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.page {
    margin-top: 5rem;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

#auth {
    background-color: green;
}

#noauth {
    background-color: red;
}

footer {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}